body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #252525;
}

.list-questions-title {
  padding: 10px 10px;
  background: #eee;
  text-align: center;
}
.list-questions-title h3 {
  font-weight: 100;
  margin: 0;
  color: rgb(0, 0, 0, 0.5);
}

.questions-title {
    width: 50%;
    margin: auto;
    padding: 30px 0px 0px 0px;
    display: flex;
}

.questions-title div {
  padding: 10px;
  width: 50%;
  background-color: #eee;
  border: 1px solid rgba(0, 0, 0, 0.29);
  border-radius: 10px 10px 0px 0px;
}

.questions-title a {
  width: 50%;
  margin: auto;
  padding: 10px;
}
  
.questions-content {
  width: 50%;
  margin: auto;
  border: 1px solid rgba(0,0,0,0.29)
}

.questions-content ul {
  padding: 0px;
}

.questions-content li {
  list-style-type: none;
}

.question {
  border: 1px solid rgba(0,0,0,0.29);
  margin: 10px;
}

.question-title {
  background-color: #eee;
  padding: 10px;
  font-weight: bold;
}

.question-content {
  display: flex;
}

.question-avatar {
  width: 50%;
  margin: auto;
  padding: 10px;
  border-right: 1px solid #555;
}

.question-poll {
  width: 50%;
  margin: auto;
  padding: 10px;
}

.question-poll span {
  font-size: 12px;
  margin: 10px;
}
.question-poll button {
  background-color: #fff;
  border: 2px solid rgb(17, 228, 209);
  color: #1b5858;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}

.navigation-div {
  width: 100%;
  display: flex;
}

.navigation-div li {
  list-style-type: none;
  width: 200px;
  cursor: pointer;
}

.navigation-li-user {
   list-style-type: none;
  width: 200px;
  cursor: pointer;
  padding: 20px;
}

.navigation-link {
  list-style-type: none;
  cursor: pointer;
  padding: 20px;
  display: block;
}

.navigation-div li:hover {
  background: #86cdd8;
}
  
.avatar {
 height: 60px;
 border-radius: 35px;
 margin: 10px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.newquestion {
  border: 1px solid rgba(0,0,0,0.29);
  margin: auto;
  width: 50%;
}

.newquestion-title {
  background-color: #eee;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.newquestion span {
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.newquestion input {
  display: block;
  width: 70%;
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
}

.newquestion button {
  background-color: #1b5858;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 70%;
  margin: auto;
  cursor: pointer;
}

.newquestion form {
  margin: 10px;
  display: grid;
}

.leaderboard {
  display: flex;
  border: 1px solid rgba(0,0,0,0.29);
  margin: auto;
  width: 50%;
  border-radius: 5px;
}

.lb li {
  list-style-type: none;
  margin: 15px;
}

.lb-avatar {
  border-right: 1px solid #555;
  width: 20%;
  padding: 10px;
  margin: 10px;
}

.lb-details {
  border-right: 1px solid #555;
  width: 30%;
  padding: 10px;
  margin: 10px;
}

.lb-details div {
  display: block;
  padding: 5px;
}

.lb-details span {
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
}

.lb-score {
  width: 20%;
  margin: auto;
}

.lb-score-div {
  background-color: #eee;
  border: 1px solid #eee;
  padding: 15px;
}

.lb-score div {
  border: 1px solid #eee;
  text-align: center;
  padding: 15px;
}

.poll {
  width: 50%;
  margin: auto;
  border: 1px solid #eee;
  padding: 10px;
}

.question-poll .radio {
  padding: 10px;
}

.poll-results {
  width: 70%;
  background-color: #a5efe8;
  padding: 20px;
  margin: auto;
  margin-bottom: 10px;
  font-size: 14px;
}

.pollvote {
    background-color: #eee;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    float: right;
}

.poll-results span {
  display: block;
  font-weight: bold;
}

.resultsbar {
  border: 1px solid #eee;
  background-color: #eee;
  border-radius: 10px;
  height: 30px;
  margin: 10px;
}

.resultsbar div {
  background-color: #34753c;
  border-radius: 10px;
}

.resultsbar span {
  display: block;
  font-weight: bold;
  text-align: center;
  height: 30px;
  margin: 0px;
  color: #fff;
}

.signin {
  width: 50%;
  border: 1px solid #eee;
  margin: auto;
}

.signin-title {
  background-color: #eee;
  text-align: center;
}

.signin-img {
  width: 30%;
  text-align: center;
  margin: auto;
}


.signin-select {
  width: 50%;
  margin: auto;
  padding: 10px;
}

.signin-select select {
  border: 1px solid #eee;
  width: 100%;
  height: 40px;
  margin: auto;
}

.signin-select button {
  background-color: #1b5858;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  margin: auto;
  cursor: pointer;
  margin-top: 20px;
}

.error {
  color: #ab3e3e;
}